/*	-------------------------------------
	import fonts from goooog
	------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap');


/*	-------------------------------------
	general layout and font settings 
	------------------------------------- */
body {
	margin: 0;
	font:14px / 1.4em 'Fira Code', 'Helvetica', 'Arial', sans-serif;
	color:#333;
	background-color: #888;
}

div.wrapper {
	max-width: 940px;
	background-color: white;
	padding:15px 30px 30px 30px;
	margin:0 auto;	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

code, .code {
	font-family: Consolas, 'Courier New', monospace;
	color: #888;
}

.codeBlock {
	border-radius: 8px;
	padding:10px;
	margin:0;
	background-color: #eee;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.codeBlock:empty {
	display: none;
}

h1 {
	font-size:36px;
	line-height: 1em;
	border-bottom:1px dashed #ccf;
	padding:20px 0 5px 0;
	margin:0 0 15px 0;
}

p {
	font:15px/1.4em 'Merriweather';
}

.errMessage {
	color:red;
	display:inline-block;
	padding:15px 0;
}

/*	-------------------------------------
	navigation 
	------------------------------------- */

nav {
	display:block;
	border-bottom:1px solid #aaa;
	padding:0;
	margin:0;
	height: fit-content;
	line-height: 1em;
}

nav ul,
nav li {
	list-style-type: none;
	margin:0;
	padding:0;
	display:inline-block;
}
nav li a {
	display:inline-block;
	padding:15px 24px;
	background-color: #eee;
	text-decoration: none;
	color:#444;
	margin:0 4px 0 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: bold;
	font-size:16px;
	line-height: 1em;
	text-transform: uppercase;
	transition:all .3s;
}


nav li a.active {
	background-color: #cacaca;
}
nav li a:hover {
	background-color: #ddd;
}




/*	-------------------------------------
	Material UI overrides 
	------------------------------------- */

.MuiInputBase-root .MuiInputBase-input {
	padding: 9px;
	height:20px;
}



/*	-------------------------------------
	search results styles
	------------------------------------- */

.resultsCount {
	font-weight: bold;
	text-align: right;
	padding:0;
	border-bottom:1px dashed #444;
	font-size:12px;
}
.resultsCount span {
	background-color: #888;
	color:#fafafa;
	padding:6px 16px;
	display:inline-block;
	border-top-left-radius: 6px
}
.resultsCountBtm {
	border-bottom: none;
	margin-bottom: 15px;
}
.resultsCountBtm span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 6px;
}

.searchResultsList > div {
	border-bottom:1px dashed #888;
	margin-top:1px;
	/*padding:4px;*/
	font-size:13px;
	opacity:0.7;
	transition:all .3s;
}
.searchResultsList > div > div {
	padding: 4px;
}
.searchResultsList > div:nth-of-type(odd) {
	background-color:#f0f0f0;
}
.searchResultsList > div:hover {
	opacity:1;
	background-color:#def;
}
.searchResultItem em {
	font-weight:bold;
}


span.toggleFullData {
	background: rgba(230,230,230,0.7);
	padding: 5px 8px;
	font-size: 12px;
	cursor: pointer;
	display: block;
	position: absolute ;
}
.searchResultsList span.toggleFullData {
	right: 0 ;
	top: 0;
}

